@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-tripadvisor-original: #01ea5b;
  --color-tripadvisor-green: #01ea5b;
  --color-tripadvisor-green-hover: #00d052;
  --color-tripadvisor-green-dark: #03852e;
  --color-tripadvisor-green-darkest: #012b11;
  --color-foreground-color: #012b11;
  --color-tripadvisor-yellow: #ffef0e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
